<% if (errorMessage.length> 0) { %>
  <div class="flash-message flash-message--error">
    <%= errorMessage %>
  </div>
  <% } %>
    <% if (successMessage.length> 0) { %>
      <div class="flash-message flash-message--success">
        <%= successMessage %>
      </div>
      <% } %>