<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../includes/content-head.ejs") %>
    <%- include("../includes/content-title.ejs") %>
</head>
<body>
  <header class="main-header">
    <%- include("../includes/content-nav.ejs") %>
  </header>
  <main>
    <%- include("../includes/gadgets/flash-message.ejs") %>
    <h1>Checkout!</h1>
  </main>
</body>
</html>