<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Index Page</title>
</head>
<body>
    <header>
        <h1>Index Page</h1>
        <img src="https://picsum.photos/id/237/200/300" alt="Lorem Picsum">
        <hr>
        <img src="img/richard-brutyo-Sg3XwuEpybU-unsplash.jpg" alt="Unsplash Image - Dog" width="200">
    </header>
</body>
</html>