<p class="content__count">Count: {{ count() }}</p>
<p class="content__count">Count Double: {{ countDouble() }}</p>
<div class="content__actions">
  <button (click)="onClickInc()">
    <span class="material-symbols-outlined"> add </span>
  </button>
  <button (click)="onClickDec()">
    <span class="material-symbols-outlined"> remove </span>
  </button>
</div>
<br /><br /><br /><br />
<div>
  <button (click)="onClickExit()">
    <span class="material-symbols-outlined"> close </span>
  </button>
</div>
