<div class="container">
  <div class="drawing__settings">
    <form action="" (change)="onChangeForm(formEl)" #formEl>
      <input ngModel type="radio" id="line" name="drawing" value="LINE">
      <label for="line">Line</label><br>
      <input ngModel type="radio" id="rect" name="drawing" value="RECT">
      <label for="rect">Rectangle</label>
      <input ngModel type="radio" id="arc" name="drawing" value="ARC">
      <label for="arc">Arc</label><br>
      <input ngModel type="radio" id="circle" name="drawing" value="CIRCLE">
      <label for="circl">Circle</label><br>
    </form>
  </div>
  <div class="drawing__area">
    <canvas #canvasEl (pointerdown)="onPointerDown($event)" (pointerup)="onPointerUp($event)"></canvas>
  </div>
</div>