.camera-container {
  position: relative;
  height: 720px;
}

.landmark-grid-container {
  width: 80%;
}

video {
  /* width: 1280px;
  height: 720px; */
  /* position: absolute; */
  width: 80%;
}

canvas {
  /* position: absolute; */
  width: 80%;
  /* left: 0px;
  top: 0px; */
}
