.container {
  position: relative;
  height: 720px;
}

.landmark-grid-container {
  width: 80%;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

video {
  /* width: 1280px;
  height: 720px; */
  position: absolute;
  width: 80% !important;
  height: auto !important;
}

canvas {
  position: absolute;
  width: 80% !important;
  height: auto !important;
  /* left: 0px;
  top: 0px; */
}
