{
	"singleQuote": false,
	"trailingComma": "all",
	"tabWidth": 2,
	"useTabs": true,
	"bracketSameLine": false,
	"bracketSpacing": true,
	"quoteProps": "consistent",
	"singleAttributePerLine": false,
	"endOfLine": "crlf",
	"printWidth": 200
}
