.container {
  position: relative;
  height: 200vh;
  border: 2px solid green;
  overflow: hidden;
}

.landmark-grid-container {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 999;
}

video,
canvas,
#photo {
  position: absolute;
  width: 80% !important;
  height: auto !important;
  z-index: 1;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

canvas {
  border: 10px solid red;
}
