h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

body {    
    background: url("https://images.unsplash.com/uploads/1412026095116d2b0c90e/3bf33993?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1167&q=80");
    background-size: cover;
    overflow: hidden;
}

.container {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;    
}

.container .clock {
    display: flex;
}

.container .clock div {
    margin: 5px;
    position: relative;
}

.container .clock span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 80px;
    background-color: rgb(110, 154, 119);
    opacity: .8;
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container .clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkgreen;
    opacity: .8;
}

.container .clock #txt-ampm {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: blue;
}

.container .date {
    display: flex;
}

.container .date div {
    margin: 5px;
    position: relative;
}

.container .date span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    background-color: rgb(65, 134, 79);
    opacity: .8;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container .date .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(28, 58, 28);
    opacity: .8;
}