<div class="mat-headline-4 div-container">
  <a href="https://material.angular.io/components/toolbar/overview">Material Toolbar</a>
</div>
<div class="div-container">
  <mat-toolbar>COMPANY BRAND</mat-toolbar>
</div>

<div class="div-container">
  <mat-toolbar class="navbar" color="primary">
    <div>COMPANY BRAND</div>
    <div>
      <span class="nav-item">Home</span>
      <span class="nav-item">Works</span>
      <span class="nav-item">Contacts</span>
    </div>
  </mat-toolbar>
</div>

<div class="div-container">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Custom Toolbar</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false"
        aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
</div>