.container {
	width: 100%;
	height: auto;

	// border: 1px solid black;

	* {
		box-sizing: border-box;
	}
}
.content {
	width: 100%;
	height: auto;
	margin: 0 auto;

	// border: 1px solid red;

	&__chart {
		width: 100%;
		height: auto;
		margin: 0 auto;
		padding: 1px;

		// border: 1px solid blue;
	}
}
