/* Naming Convention:
	Block Element Modifier (BEM):
		i.e Block__Element--Modifier
*/

/* --------------------- C O L O R S --------------------- */
$color-paragraph-first-letter: #006400;

$color-header-footer-bg: #e0e0e0;

$color-title-shadow: #808080;
$color-icon-svg-shadow: #0000004d;
$color-profile-portrait-shadow-1: #00000080;
$color-profile-portrait-shadow-2: #060649cc;
$color-profile-portrait-title: #006400;

$color-hyperlinks-normal: #006400;
$color-hyperlinks-visited: #05676e;
$color-hyperlinks-activated: #489c79;

$color-button-bg: #006400;
$color-button-text: #90ee90;

$color-table-th-bg: #80808033;

$color-border: #80808066;

$color-animation-sun-0: #edc655;
$color-animation-sun-50: #fcffad;
$color-animation-sun-100: #f76414;

$color-contactform-label: #006400;
$color-contactform-input-focused: #489c79;
$color-contactform-element-border: #006400;

$color-text-shadow: #000000;

/* ----------------- U N I V E R S A L S ----------------- */

* {
	box-sizing: border-box;
}

/* ----------------------- T A G S ----------------------- */

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;        /* Sets the font size to 16px */
    line-height: 1.6;       /* Sets the line-height to 1.6 */
}

img[alt="Twitter"]:hover,
img[alt="GitHub"]:hover,
img[alt="LinkedIn"]:hover,
img[alt="ResearchGate"]:hover {
	box-shadow: 1px 1px 2px 2px $color-icon-svg-shadow;
}

hr {
	color: $color-border;
}

/* ---------------------- C L A S S E S ---------------------- */

/* ----------------------- G L O B A L ----------------------- */

.button {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: $color-button-bg;
	color: $color-button-text;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid $color-border;
	/* transition-duration: .2s;
	transition-property: opacity; */
	transition: .5s opacity ease-in-out 0s;
}

.button:hover, 
.button:focus {	
	cursor: pointer;		/* lets the mouse appear as a hand when hovering over the button */
	opacity: 0.8;			/* reduces the opacity of the button to 80% */
}

.button:active {
	transform: scale(.98);	/* shrinks the size of the button when activated */
	font-weight: bold;		/* thickens the font of the button when activated */
}

/* --- P A G E		H E A D E R --- */

.page-header {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	height: fit-content;
	border-bottom: 1px solid $color-border;
	background-color: $color-header-footer-bg;
	padding: 10px 20px;
	z-index: 999;
}

.page-header__item {
	flex: 0 1 200px;
}

.page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list__item--active {
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 4px $color-title-shadow;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

a,
.navigation-list a {
    color: $color-hyperlinks-normal;
}

.navigation-list a:visited {
	color: $color-hyperlinks-visited;		/* visited link */
}

.navigation-list a:hover,
.navigation-list a:focus {
    text-decoration: none;	/* No underlining when hovering over a link */
}

.navigation-list a:active {
	color: $color-hyperlinks-activated;		/* selected link */
}

@media all and (max-width: 630px) {
	.page-header {
		display: block;
		text-align: center;
	}
	.navigation-list {
		text-align: center;
		margin: auto;
		padding: 0;
	}
	.navigation-list li {
		margin: 5px 10px;
	}
}

@media all and (max-width: 440px) {
	.navigation-list {
		display: flex;
		flex-direction: column;
	}
	.navigation-list li {
		margin: 1px 0;
		border-bottom: 1px solid $color-border;
	}
	.navigation-list__item {		
		padding: 5px;
		text-decoration: none;
	}
}

/* --- P A G E		F O O T E R --- */

.page-footer {
	clear: both;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	flex-direction: column;
	text-align: center;
	border-top: 1px solid $color-border;
	width: 100%;
	background-color: $color-header-footer-bg;
	z-index: 1000;
}

.social-media {
	margin: 10px;
}

/* --- P A G E		M A I N --- */

.page-main {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	padding: 90px 10px 120px 10px;
	/* padding-bottom: 120px;
	padding-top: 90px; */
}

.page-main__title {
	text-align: center;
	font-size: 30px;
    font-weight: 700;
	text-shadow: 1px 1px 4px $color-title-shadow;
	transition: all .5s ease-in-out;
}

.page-main__title:hover {
	text-shadow: 1px 1px 5px black;
}

@media all and (max-width: 630px) {
	.page-main {
		padding-top: 120px;
	}
}

@media all and (max-width: 440px) {
	.page-main {
		padding-top: 220px;
	}
}

/* --- P A G E - E L E M E N T -		H O M E --- */

.profile {
	max-width: 600px;
	width: 100%;
	height: 100%;
	margin: 3ch auto;
}

.profile__portrait {
  	float: left;
	max-width: 150px;
	margin-right: 40px;
	width: 100%;
	border-radius: 50%;
	transition: all .5s ease;
}

.profile__title {
	text-align: center;
	font-size: 30px;
    font-weight: 700;
	text-shadow: 1px 1px 4px $color-title-shadow;
}

.profile__portrait--shadowed {
	box-shadow: 1px 1px 4px 1px $color-profile-portrait-shadow-1, 2px 2px 4px 1px $color-profile-portrait-shadow-2;
}

.profile__text {
	text-align: center;
	transition: all .5s ease;
}

.profile__mycodes {
	display: block;
	clear: both;
	width: fit-content;
	text-align: center;
	margin: 1ch auto;
	color: $color-hyperlinks-normal;
	transition: all .5s linear;
}
.profile__mycodes:hover {
	color: black;
	border-top: none;
	transform: scaleX(1.1);
}

@media all and (max-width: 630px) {
	.profile {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
	.profile__title {
		margin-right: auto;
	}
	.profile__portrait {
		margin-left: auto;
		transform: scale(.9);
	}
	.profile__text {
		margin: 10px auto;
		grid-column: 1 / span 2;
		font-size: large;
	}
}

/* --- P A G E - E L E M E N T -		C O N T A C T --- */

.contact-form {
	width: 90%;
	margin: 0 auto;
}

.contact-form * {
	width: 100%;
	padding: 5px 10px;
	margin: 0 10px;
}

.contact-form label {
	color: $color-contactform-label;
}

.contact-form input,
.contact-form textarea {
	outline: none;
	border: 1px solid $color-contactform-element-border;
	border-radius: 3px;
}

.contact-form input:focus,
.contact-form textarea:focus {
	outline: 1px solid $color-contactform-input-focused;
	border: 1px solid $color-border;
	border-radius: 3px;	
}

.contact-form textarea {
	resize: none;
	height: 100px;
}

.contact-info {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 90%;
	margin: 0 auto;
}

.contact-info__address address,
.contact-info__info article {
	padding-left: 2ch;
}

.contact-info__address strong,
.contact-info__info strong {
	color: $color-contactform-label;
}

@media all and (max-width: 440px) {
	.contact-info {
		flex-flow: column nowrap;
	}
	.contact-info__info {
		margin-top: 20px;
	}
}

/* --- P A G E - E L E M E N T -		M Y - W O R K S --- */
.page-main__works {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0 10px;
}

/* start grid fallback */
.project-list__item {
	display: inline-block;
	width: 33%;
	transition: all .4s ease-in-out;
}
/* end grid fallback */

@supports (display: grid) {
	.project-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
		margin: 0;
	}
}

.project-list__item {
  	background-color: lightgray;
	width: auto;
	min-height: auto;
	margin: 0;
	padding: 10px;
	border-radius: 5px;
	text-align: justify;
}

.project-list__item h2 {
	color: $color-profile-portrait-title;
}

.project-list__item p {
	text-indent: 4ch;
	word-wrap: break-word;
  	overflow-wrap: break-word;
}

.project-list__item p::first-letter {
	color: $color-paragraph-first-letter;
	font-size: large;
	font-weight: bold;
}

.project-list__item:last-child {
	grid-column: 3 / 3;
	grid-row: 1 / 3;
}

.project-list__item:hover {
	filter: brightness(95%);
	box-shadow: 1px 1px 2px $color-text-shadow;
}

/* M E D I A - Q U E R Y */
@media all and (max-width: 440px) {
	.project-list {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 5px;
	}
	.page-main__title {
		font-size: 22px;
	}
}

@media all and (min-width: 440px) and (max-width: 630px) {
	.project-list {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 7px;
	}	
	.page-main__title {
		font-size: 27px;
	}
}

@media all and (max-width: 630px) {
	.project-list__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
}

/* --- P A G E - E L E M E N T -		A B O U T - M E --- */
.about-me {
	width: 90%;
	margin: 0 auto;
}
.about-me__text {
	text-align: justify;
	text-indent: 4ch;
}

.about-me__text::first-letter {
	color: $color-paragraph-first-letter;
	font-size: large;
	font-weight: bold;
}

.skills-table  {
	border-collapse: collapse;
	border-bottom: 1px solid $color-border;
	margin: 20px auto;
}

.skills-table__title {
	text-decoration: underline;
	padding-bottom: 1ch;
}

.skills-table td {
	text-align: center;
}

.skills-table th[scope="col"] {
	text-align: center;
	background-color: $color-table-th-bg;
	padding: 0 2ch;
	border-bottom: 1px solid $color-border;
}

.skills-table th[scope="row"] {
	text-align: left;
	background-color: $color-table-th-bg;
	padding: 0 4ch;
}

.about-me__animation {
	width: 50%;
	margin: auto;
}

.about-me__animation-title {
	text-align: center;
	border-bottom: 1px solid $color-border;
}

.about-me__animation-title a {
	text-decoration: none;
	color: $color-hyperlinks-normal;
	transition: all .5s ease-in-out;
}

.about-me__animation-title a:hover {
	font-weight: normal;
}

@keyframes color-change__sun {
	0% {
		fill: $color-animation-sun-0
	}
	50% {
		fill: $color-animation-sun-50;
	}
	100% {
		fill: $color-animation-sun-100
	}
}

@keyframes opacity-change__grass {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes brightness-change__horse {
	0% {
		filter: brightness(1%);
	}
	100% {
		filter: brightness(100%);
	}
}

@keyframes blur-change__bubble {
	0% {
		filter: blur(0);
	}
	100% {
		filter: blur(10px);
	}
}

@keyframes cloud-move {
	from {
		transform: translate(0, 50px);
	}
	to {
		transform: translate(200px, 50px);
	}
}

@keyframes cloud-move-reverse {
	from {
		transform: translate(446px, 48px);
	}
	to {
		transform: translate(100px, 48px);
	}
}

.berlin-animation {
	transition: all .5s ease;
}

.berlin-animation:hover {
	filter: brightness(70%);
}

.berlin-animation__sun {
	animation-duration: 4s;
	animation-name: color-change__sun;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	/* animation: 4s color-change infinite alternate linear; */
}

.berlin-animation__cloud-front {
	animation-duration: 30s;
	animation-name: cloud-move;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	/* animation: 30s cloud-move infinite alternate ease-in-out; */
}

.berlin-animation__cloud-back {
	animation-duration: 34s;
	animation-name: cloud-move-reverse;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
  	/* animation: 34s cloud-move-reverse infinite alternate ease-in-out; */
}

.berlin-animation__grass {
	animation-duration: 1s;
	animation-name: opacity-change__grass;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
  	/* animation: 34s opacity-change__grass infinite alternate linear; */
}

.berlin-animation__horse-left {
	transform-origin: center center;
	animation-duration: 1s;
	animation-name: brightness-change__horse;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
  	/* animation: 34s brightness-change__horse infinite alternate linear; */
}

.berlin-animation__tower-bubble {
	transform-origin: center center;
	animation-duration: 2s;
	animation-name: blur-change__bubble;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in;
  	/* animation: 34s blur-change__bubble infinite alternate linear; */
}