<mat-nav-list role="navigation" style="display: flex;">
  <mat-list-item class="nav-item" role="listitem" (click)="onClickNavItem('HOME')">
    <span>
      Home
    </span>
  </mat-list-item>
  <mat-list-item class="nav-item" role="listitem" (click)="onClickNavItem('POST_ADD')">
    <span>
      Add Post
    </span>
  </mat-list-item>
  <mat-list-item class="nav-item" role="listitem" (click)="onClickNavItem('POST_EDIT')">
    <span>
      Edit Post
    </span>
  </mat-list-item>
  <mat-list-item class="nav-item" role="listitem" (click)="onClickNavItem('AUTH_LOGIN')">
    <span>
      Login
    </span>
  </mat-list-item>
  <mat-list-item class="nav-item" role="listitem" (click)="onClickNavItem('AUTH_LOGOUT')">
    <span>
      Logout
    </span>
  </mat-list-item>
</mat-nav-list>
<hr>
