header h1:hover {
    background-color: lightgray;
}
header h1 a {
    display: block;
    text-align: center;
    text-decoration: none;
}

header nav {
    background-color: darkgray;
}
header nav ul {
    padding: 10px;
    text-align: center;
}
header nav ul li {
    display: inline;
    margin: 0 30px;
}
header nav ul li a {
    text-decoration: none;
}

hr {
    border: 0;
    height: 2px;
    margin: 20px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
}

.mussar-container {
    margin: auto;
    position: relative;
    justify-content: center;
    background-color: lightgray;
    width: 80%;
    padding: 1em;
}

.mussar-footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: bisque;
    color: black;
    z-index: 1000;
    padding: 10px;
}

.mussar-footer p {
    text-align: center;
}

.mussar-footer p:last-child::after {
    content: "COPY RIGHT";
}