.card {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  max-width: 250px;
  box-shadow: 1px 1px 4px lightgray, -1px -1px 4px lightgray;

  @media screen and (max-width: 599.98px) {
    max-width: 100%;
  }

  &:hover,
  &:focus {
    box-shadow: 1px 1px 8px lightgray, -1px -1px 8px lightgray;
  }

  &__title {
    text-align: center;
    font-weight: bold;
  }

  &__image {
    display: block;
    margin: 0.5rem auto;
    border-radius: 0.375rem;
    height: 200px;

    &:hover,
    &:focus {
      box-shadow: 1px 1px 8px #000000bd;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
