<h1 *ngIf="posts.length === 0">You have no posts!</h1>
<mat-list *ngIf="posts.length > 0">
  <mat-card *ngFor="let post of posts; let i = index;">
    <mat-card-header class="card__header">
      <mat-card-title class="card__title">{{post.title}}</mat-card-title>
    </mat-card-header>
    <mat-dialog-content>
      <mat-card-subtitle>
        <a href="{{'http://localhost:8282/'+post.imageUrl}}" target="_blank" rel="noopener noreferrer">
          <img src="{{'http://localhost:8282/'+post.imageUrl}}" alt="{{post.title}}" class="card__image">
        </a>
      </mat-card-subtitle>
    </mat-dialog-content>
  </mat-card>
