<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./includes/content-head.ejs") %>
    <%- include("./includes/content-title.ejs") %>
</head>
<body>
  <header class="main-header">
    <%- include("./includes/content-nav.ejs") %>
  </header>
  <main>
    <form class="form-main" action="/admin/add-product" method="POST">
      <div class="form-group">
        <label class="form-control" for="title">Title:</label>
        <input class="form-control" type="text" name="title" id="title">
      </div>
      <div class="form-group">
        <button class="form-control" type="submit">Add Product</button>
      </div>
    </form>
  </main>
</body>
</html>