{{#if hasProducts}}
  <div class="grid">
    {{#each products}}
      <article class="card product-item">
        <header class="card__header">
          <h1 class="product__title">{{this.title}}</h1>
        </header>
        <div class="card__image">
          <img
            src="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg"
            alt=""
          />
        </div>
        <div class="card__content">
          <h2 class="product__price">$19.99</h2>
          <p class="product__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            aliquam error debitis quos quibusdam exercitationem ipsum doloribus
            corporis eius saepe vitae repellat libero nemo rem, tenetur iste
            odit nam eum.
          </p>
        </div>
        <div class="card__actions">
          <button class="btn">Add to Cart</button>
        </div>
      </article>
    {{/each}}
  </div>
{{else}}
  <h1>No Products!</h1>
{{/if}}