/* Naming Convention:
	Block Element Modifier (BEM):
		i.e Block__Element--Modifier
*/

/* ---------------- V A R I A B L E S ---------------- */
$font-family-body: "Lato", sans-serif;

$color-paragraph__first-letter--capitalized: #006400;

$color-header-footer__bg: #e0e0e0;

$color-title--shadowed: #808080;
$color-icon-svg--shadowed: #0000004d;
$color-profile__portrait--shadowed-1: #00000080;
$color-profile__portrait--shadowed-2: #060649cc;
$color-profile__portrait__title: #006400;

$color-hyperlinks--normal: #006400;
$color-hyperlinks--visited: #05676e;
$color-hyperlinks--activated: #489c79;

$color-button__bg: #006400;
$color-button__text: #90ee90;

$color-table-th--highlighted: #80808033;

$color-border: #80808066;

$color-animation-sun--0: #edc655;
$color-animation-sun--50: #fcffad;
$color-animation-sun--100: #f76414;

$color-contact-form__label: #006400;
$color-contact-form__input--focused: #489c79;
$color-contact-form__element-border: #006400;

$color-text--shadowed: #000000;

/* ------------------ F U N C T I O N S ------------------ */
@mixin animation-initializer ($dur: 1s, $name: "", $times: 1, $dir: normal, $func: linear) {
	animation-duration: $dur;
	animation-name: $name;
	animation-iteration-count: $times;
	animation-direction: $dir;
	animation-timing-function: $func;
}

/* ----------------- U N I V E R S A L S ----------------- */

* {
	box-sizing: border-box;
}

/* ----------------------- T A G S ----------------------- */

body {
    font-family: $font-family-body;
    font-weight: 400;
    font-size: 16px;        /* Sets the font size to 16px */
    line-height: 1.6;       /* Sets the line-height to 1.6 */
}

img[alt="Twitter"],
img[alt="GitHub"],
img[alt="LinkedIn"],
img[alt="ResearchGate"] {
	&:hover {
		box-shadow: 1px 1px 2px 2px $color-icon-svg--shadowed;
	}	
}

hr {
	color: $color-border;
}

a {
    color: $color-hyperlinks--normal;
}

/* ---------------------- C L A S S E S ---------------------- */


/* ----------------------- G L O B A L ----------------------- */

.button {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: $color-button__bg;
	color: $color-button__text;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid $color-border;
	/* transition-duration: .2s;
	transition-property: opacity; */
	transition: .5s opacity ease-in-out 0s;
	&:hover,
	&:focus {
		cursor: pointer;		/* lets the mouse appear as a hand when hovering over the button */
		opacity: 0.8;			/* reduces the opacity of the button to 80% */
	}
	&:active {
		transform: scale(.98);	/* shrinks the size of the button when activated */
			font-weight: bold;		/* thickens the font of the button when activated */
	}
}

/* --- P A G E		H E A D E R --- */

.page-header {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	height: fit-content;
	border-bottom: 1px solid $color-border;
	background-color: $color-header-footer__bg;
	padding: 10px 20px;
	z-index: 999;
	&__item {
		flex: 0 1 200px;
		&:last-child {
			flex-grow: 1;
			text-align: right;
		}
	}
}


.navigation-list {
	list-style-type: none;
	li {
		display: inline-block;
		margin-left: 15px;
	}
	a {
		color: $color-hyperlinks--normal;
		&:visited {
			color: $color-hyperlinks--visited;		/* visited link */
		}
		&:hover,
		&:focus {
			text-decoration: none;	/* No underlining when hovering over a link */
		}
		&:active {
			color: $color-hyperlinks--activated;		/* selected link */
		}
	}
	&__item {
		&--active {
			text-decoration: none;
			font-weight: bold;
			text-shadow: 1px 1px 4px $color-title--shadowed;
		}
	}
}

@media all and (max-width: 630px) {
	.page-header {
		display: block;
		text-align: center;
	}
	.navigation-list {
		text-align: center;
		margin: auto;
		padding: 0;
		li {
			margin: 5px 10px;
		}
	}
}

@media all and (max-width: 440px) {
	.navigation-list {
		display: flex;
		flex-direction: column;
		li {
			margin: 1px 0;
			border-bottom: 1px solid $color-border;
		}
		&__item {
			padding: 5px;
			text-decoration: none;
		}
	}
}

/* --- P A G E		F O O T E R --- */

.page-footer {
	clear: both;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	flex-direction: column;
	text-align: center;
	border-top: 1px solid $color-border;
	width: 100%;
	background-color: $color-header-footer__bg;
	z-index: 1000;
}

.social-media {
	margin: 10px;
}

/* --- P A G E		M A I N --- */

.page-main {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	padding: 90px 10px 120px 10px;
	/* padding-bottom: 120px;
	padding-top: 90px; */
	&__title {
		text-align: center;
		font-size: 30px;
		font-weight: 700;
		text-shadow: 1px 1px 4px $color-title--shadowed;
		transition: all .5s ease-in-out;
		&:hover {
			text-shadow: 1px 1px 5px black;
		}
	}
}

@media all and (max-width: 630px) {
	.page-main {
		padding-top: 120px;
	}
}

@media all and (max-width: 440px) {
	.page-main {
		padding-top: 220px;
	}
}

/* --- P A G E - E L E M E N T -		H O M E --- */

.profile {
	max-width: 600px;
	width: 100%;
	height: 100%;
	margin: 3ch auto;
	&__portrait {
		float: left;
		max-width: 150px;
		margin-right: 40px;
		width: 100%;
		border-radius: 50%;
		transition: all .5s ease;
		&--shadowed {
			box-shadow: 1px 1px 4px 1px $color-profile__portrait--shadowed-1, 2px 2px 4px 1px $color-profile__portrait--shadowed-2;
		}
	}
	&__title {
		text-align: center;
		font-size: 30px;
		font-weight: 700;
		text-shadow: 1px 1px 4px $color-title--shadowed;
	}
	&__text {
		text-align: center;
		transition: all .5s ease;
	}
	&__mycodes {
		display: block;
		clear: both;
		width: fit-content;
		text-align: center;
		margin: 1ch auto;
		color: $color-hyperlinks--normal;
		transition: all .5s linear;
		&:hover {
			color: black;
			border-top: none;
			transform: scaleX(1.1);
		}
	}
}


@media all and (max-width: 630px) {
	.profile {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		justify-content: center;
		align-content: center;
		align-items: center;
			&__title {
			margin-right: auto;
		}
		&__portrait {
			margin-left: auto;
			transform: scale(.9);
		}
		&__text {
			margin: 10px auto;
			grid-column: 1 / span 2;
			font-size: large;
		}
	}
}

/* --- P A G E - E L E M E N T -		C O N T A C T --- */

.contact {
	&-form {
		width: 90%;
		margin: 0 auto;
		* {
			width: 100%;
			padding: 5px 10px;
			margin: 0 10px;
		}
		label {
			color: $color-contact-form__label;
		}
		input,
		textarea {
			outline: none;
			border: 1px solid $color-contact-form__element-border;
			border-radius: 3px;
			&:focus {
				outline: 1px solid $color-contact-form__input--focused;
				border: 1px solid $color-border;
				border-radius: 3px;
			}
		}
		textarea {
			resize: none;
			height: 100px;
		}
	}
	&-info {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		width: 90%;
		margin: 0 auto;
		&__address address,
		&__info article {
			padding-left: 2ch;
		}
		&__address,
		&__info {
			strong {
				color: $color-contact-form__label;
			}
		}
	}
}

@media all and (max-width: 440px) {
	.contact {
		&-info {
			flex-flow: column nowrap;
			&__info {
				margin-top: 20px;
			}
		}
	}
}

/* --- P A G E - E L E M E N T -		M Y - W O R K S --- */
.page-main {
	&__works {
		width: 100%;
		height: 100%;
		margin: auto;
		padding: 0 10px;
	}
}

/* start grid fallback */
.project-list__item {
	display: inline-block;
	width: 33%;
	transition: all .4s ease-in-out;
}
/* end grid fallback */

@supports (display: grid) {
	.project-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
		margin: 0;
	}
}

.project-list {
	&__item {
		background-color: lightgray;
		width: auto;
		min-height: auto;
		margin: 0;
		padding: 10px;
		border-radius: 5px;
		text-align: justify;
		h2 {
			color: $color-profile__portrait__title;
		}
		p {
			text-indent: 4ch;
			word-wrap: break-word;
			overflow-wrap: break-word;
			&::first-letter {
				color: $color-paragraph__first-letter--capitalized;
				font-size: large;
				font-weight: bold;
			}
		}
		&:last-child {
			grid-column: 3 / 3;
			grid-row: 1 / 3;
		}
		&:hover {
			filter: brightness(95%);
			box-shadow: 1px 1px 2px $color-text--shadowed;
		}
	}
}

/* M E D I A - Q U E R Y */
@media all and (max-width: 440px) {
	.project-list {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 5px;
	}
	.page-main {
		&__title {
			font-size: 22px;
		}
	}
}

@media all and (min-width: 440px) and (max-width: 630px) {
	.project-list {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 7px;
	}	
	.page-main {
		&__title {
			font-size: 27px;
		}
	}
}

@media all and (max-width: 630px) {
	.project-list {
		&__item {
			&:last-child {
				grid-column: auto / auto;
				grid-row: auto / auto;
			}
		}
	}
}

/* --- P A G E - E L E M E N T -		A B O U T - M E --- */
.about-me {
	width: 90%;
	margin: 0 auto;
	&_text {
		text-align: justify;
		text-indent: 4ch;
		&::first-letter {
			color: $color-paragraph__first-letter--capitalized;
			font-size: large;
			font-weight: bold;
		}
	}
}

.skills-table  {
	border-collapse: collapse;
	border-bottom: 1px solid $color-border;
	margin: 20px auto;
	&__title {
		text-decoration: underline;
		padding-bottom: 1ch;
	}
	td {
		text-align: center;
	}
	th {
		&[scope="col"] {
			text-align: center;
			background-color: $color-table-th--highlighted;
			padding: 0 2ch;
			border-bottom: 1px solid $color-border;
		}
		&[scope="row"] {
			text-align: left;
			background-color: $color-table-th--highlighted;
			padding: 0 4ch;
		}
	}
}

.about-me {
	&__animation {
		width: 50%;
		margin: auto;
	}
	&__animation-title {
		text-align: center;
		border-bottom: 1px solid $color-border;
		a {
			text-decoration: none;
			color: $color-hyperlinks--normal;
			transition: all .5s ease-in-out;
			&:hover {
				font-weight: normal;
			}
		}
	}
}

@keyframes color-change__sun {
	0% {
		fill: $color-animation-sun--0
	}
	50% {
		fill: $color-animation-sun--50;
	}
	100% {
		fill: $color-animation-sun--100
	}
}

@keyframes opacity-change__grass {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes brightness-change__horse {
	0% {
		filter: brightness(1%);
	}
	100% {
		filter: brightness(100%);
	}
}

@keyframes blur-change__bubble {
	0% {
		filter: blur(0);
	}
	100% {
		filter: blur(10px);
	}
}

@keyframes cloud-move {
	from {
		transform: translate(0, 50px);
	}
	to {
		transform: translate(200px, 50px);
	}
}

@keyframes cloud-move-reverse {
	from {
		transform: translate(446px, 48px);
	}
	to {
		transform: translate(100px, 48px);
	}
}

.berlin-animation {
	transition: all .5s ease;
}

.berlin-animation:hover {
	filter: brightness(70%);
}

.berlin-animation__sun {
	/* animation: 4s color-change infinite alternate linear; */
	@include animation-initializer(4s, color-change__sun, infinite, alternate, linear);	
}

.berlin-animation__cloud-front {
	/* animation: 30s cloud-move infinite alternate ease-in-out; */
	@include animation-initializer(30s, cloud-move, infinite, alternate, ease-in-out)
}

.berlin-animation__cloud-back {
  	/* animation: 34s cloud-move-reverse infinite alternate ease-in-out; */
	@include animation-initializer(34s, cloud-move-reverse, infinite, alternate, ease-in-out)
}

.berlin-animation__grass {
  	/* animation: 34s opacity-change__grass infinite alternate linear; */
	@include animation-initializer(1s, opacity-change__grass, infinite, alternate, ease-in-out)
}

.berlin-animation__horse-left {
	transform-origin: center center;
  	/* animation: 34s brightness-change__horse infinite alternate linear; */
	@include animation-initializer(1s, brightness-change__horse infinite, alternate, ease-in-out)
}

.berlin-animation__tower-bubble {
  	/* animation: 34s blur-change__bubble infinite alternate linear; */
	@include animation-initializer(2s, blur-change__bubble, infinite, alternate, ease-in)
}