/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/

/* Naming Convention:
	Block Element Modifier (BEM):
		i.e Block__Element--Modifier
*/

/* --------------------- C O L O R S --------------------- */

/* ----------------- U N I V E R S A L S ----------------- */

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/* ----------------------- T A G S ----------------------- */

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;        /* Sets the font size to 16px */
    line-height: 1.6;       /* Sets the line-height to 1.6 */
}

img[alt="Twitter"]:hover {
	-webkit-box-shadow: 1px 1px 2px 2px #0000004d;
	        box-shadow: 1px 1px 2px 2px #0000004d;
}

img[alt="GitHub"]:hover {
	-webkit-box-shadow: 1px 1px 2px 2px #0000004d;
	        box-shadow: 1px 1px 2px 2px #0000004d;
}

img[alt="LinkedIn"]:hover {
	-webkit-box-shadow: 1px 1px 2px 2px #0000004d;
	        box-shadow: 1px 1px 2px 2px #0000004d;
}

img[alt="ResearchGate"]:hover {
	-webkit-box-shadow: 1px 1px 2px 2px #0000004d;
	        box-shadow: 1px 1px 2px 2px #0000004d;
}

hr {
	color: #80808066;
}

/* ---------------------- C L A S S E S ---------------------- */

/* ----------------------- G L O B A L ----------------------- */

.button {
	border: none;
	display: inline-block;
	font-family: inherit;
	background-color: #006400;
	color: #90ee90;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid #80808066;
	/* transition-duration: .2s;
	transition-property: opacity; */
	-webkit-transition: .5s opacity ease-in-out 0s;
	-o-transition: .5s opacity ease-in-out 0s;
	transition: .5s opacity ease-in-out 0s;
}

.button:hover, 
.button:focus {	
	cursor: pointer;		/* lets the mouse appear as a hand when hovering over the button */
	opacity: 0.8;			/* reduces the opacity of the button to 80% */
}

.button:active {
	-webkit-transform: scale(.98);
	    -ms-transform: scale(.98);
	        transform: scale(.98);	/* shrinks the size of the button when activated */
	font-weight: bold;		/* thickens the font of the button when activated */
}

/* --- P A G E		H E A D E R --- */

.page-header {
	position: fixed;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	border-bottom: 1px solid #80808066;
	background-color: #e0e0e0;
	padding: 10px 20px;
	z-index: 999;
}

.page-header__item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 200px;
	        flex: 0 1 200px;
}

.page-header__item:last-child {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list__item--active {
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 4px #808080;
}

.navigation-list li {
	display: inline-block;
	margin-left: 15px;
}

a {
    color: #006400;
}

.navigation-list a {
    color: #006400;
}

.navigation-list a:visited {
	color: #05676e;		/* visited link */
}

.navigation-list a:hover,
.navigation-list a:focus {
    text-decoration: none;	/* No underlining when hovering over a link */
}

.navigation-list a:active {
	color: #489c79;		/* selected link */
}

@media all and (max-width: 630px) {
	.page-header {
		display: block;
		text-align: center;
	}
	.navigation-list {
		text-align: center;
		margin: auto;
		padding: 0;
	}
	.navigation-list li {
		margin: 5px 10px;
	}
}

@media all and (max-width: 440px) {
	.navigation-list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.navigation-list li {
		margin: 1px 0;
		border-bottom: 1px solid #80808066;
	}
	.navigation-list__item {		
		padding: 5px;
		text-decoration: none;
	}
}

/* --- P A G E		F O O T E R --- */

.page-footer {
	clear: both;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	border-top: 1px solid #80808066;
	width: 100%;
	background-color: #e0e0e0;
	z-index: 1000;
}

.social-media {
	margin: 10px;
}

/* --- P A G E		M A I N --- */

.page-main {
	margin: 0 auto;
	max-width: 1000px;
	width: 100%;
	padding: 90px 10px 120px 10px;
	/* padding-bottom: 120px;
	padding-top: 90px; */
}

.page-main__title {
	text-align: center;
	font-size: 30px;
    font-weight: 700;
	text-shadow: 1px 1px 4px #808080;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.page-main__title:hover {
	text-shadow: 1px 1px 5px #000000;
}

@media all and (max-width: 630px) {
	.page-main {
		padding-top: 120px;
	}
}

@media all and (max-width: 440px) {
	.page-main {
		padding-top: 220px;
	}
}

/* --- P A G E - E L E M E N T -		H O M E --- */

.profile {
	max-width: 600px;
	width: 100%;
	height: 100%;
	margin: 3ch auto;
}

.profile__portrait {
  	float: left;
	max-width: 150px;
	margin-right: 40px;
	width: 100%;
	border-radius: 50%;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.profile__title {
	text-align: center;
	font-size: 30px;
    font-weight: 700;
	text-shadow: 1px 1px 4px #808080;
}

.profile__portrait--shadowed {
	-webkit-box-shadow: 1px 1px 4px 1px #00000080, 2px 2px 4px 1px #060649cc;
	        box-shadow: 1px 1px 4px 1px #00000080, 2px 2px 4px 1px #060649cc;
}

.profile__text {
	text-align: center;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.profile__mycodes {
	display: block;
	clear: both;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	text-align: center;
	margin: 1ch auto;
	color: #006400;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}
.profile__mycodes:hover {
	color: black;
	border-top: none;
	-webkit-transform: scaleX(1.1);
	    -ms-transform: scaleX(1.1);
	        transform: scaleX(1.1);
}

@media all and (max-width: 630px) {
	.profile {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		-ms-grid-rows: auto auto;
		grid-template-rows: auto auto;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-line-pack: center;
		    align-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.profile > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.profile > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}
	.profile > *:nth-child(3) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.profile > *:nth-child(4) {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}
	.profile__title {
		margin-right: auto;
	}
	.profile__portrait {
		margin-left: auto;
		-webkit-transform: scale(.9);
		    -ms-transform: scale(.9);
		        transform: scale(.9);
	}
	.profile__text {
		margin: 10px auto;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1 / span 2;
		font-size: large;
	}
}

/* --- P A G E - E L E M E N T -		C O N T A C T --- */

.contact-form {
	width: 90%;
	margin: 0 auto;
}

.contact-form * {
	width: 100%;
	padding: 5px 10px;
	margin: 0 10px;
}

.contact-form label {
	color: #006400;
}

.contact-form input {
	outline: none;
	border: 1px solid #006400;
	border-radius: 3px;
}

.contact-form textarea {
	outline: none;
	border: 1px solid #006400;
	border-radius: 3px;
}

.contact-form input:focus {
	outline: 1px solid #489c79;
	border: 1px solid #80808066;
	border-radius: 3px;	
}

.contact-form textarea:focus {
	outline: 1px solid #489c79;
	border: 1px solid #80808066;
	border-radius: 3px;	
}

.contact-form textarea {
	resize: none;
	height: 100px;
}

.contact-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 90%;
	margin: 0 auto;
}

.contact-info__address address,
.contact-info__info article {
	padding-left: 2ch;
}

.contact-info__address strong {
	color: #006400;
}

.contact-info__info strong {
	color: #006400;
}

@media all and (max-width: 440px) {
	.contact-info {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column nowrap;
		        flex-flow: column nowrap;
	}
	.contact-info__info {
		margin-top: 20px;
	}
}

/* --- P A G E - E L E M E N T -		M Y - W O R K S --- */
.page-main__works {
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0 10px;
}

/* start grid fallback */
.project-list__item {
	display: inline-block;
	width: 33%;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
/* end grid fallback */

@supports (display: grid) {
	.project-list {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 10px 1fr 10px 1fr;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
		margin: 0;
	}
}

.project-list__item {
  	background-color: lightgray;
	width: auto;
	min-height: auto;
	margin: 0;
	padding: 10px;
	border-radius: 5px;
	text-align: justify;
}

.project-list__item h2 {
	color: #006400;
}

.project-list__item p {
	text-indent: 4ch;
	word-wrap: break-word;
  	overflow-wrap: break-word;
}

.project-list__item p::first-letter {
	color: #006400;
	font-size: large;
	font-weight: bold;
}

.project-list__item:last-child {
	-ms-grid-column: 3;
	grid-column: 3 / 3;
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	grid-row: 1 / 3;
}

.project-list__item:hover {
	-webkit-filter: brightness(95%);
	        filter: brightness(95%);
	-webkit-box-shadow: 1px 1px 2px #000000;
	        box-shadow: 1px 1px 2px #000000
}

/* M E D I A - Q U E R Y */
@media all and (max-width: 440px) {
	.project-list {
		-ms-grid-columns: 1fr;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 5px;
	}
	.page-main__title {
		font-size: 22px;
	}
}

@media all and (min-width: 440px) and (max-width: 630px) {
	.project-list {
		-ms-grid-columns: 1fr 7px 1fr;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 7px;
	}	
	.page-main__title {
		font-size: 27px;
	}
}

@media all and (max-width: 630px) {
	.project-list__item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}
}

/* --- P A G E - E L E M E N T -		A B O U T - M E --- */
.about-me {
	width: 90%;
	margin: 0 auto;
}
.about-me__text {
	text-align: justify;
	text-indent: 4ch;
}

.about-me__text::first-letter {
	color: #006400;
	font-size: large;
	font-weight: bold;
}

.skills-table  {
	border-collapse: collapse;
	border-bottom: 1px solid #80808066;
	margin: 20px auto;
}

.skills-table__title {
	text-decoration: underline;
	padding-bottom: 1ch;
}

.skills-table td {
	text-align: center;
}

.skills-table th[scope="col"] {
	text-align: center;
	background-color: #80808033;
	padding: 0 2ch;
	border-bottom: 1px solid #80808066;
}

.skills-table th[scope="row"] {
	text-align: left;
	background-color: #80808033;
	padding: 0 4ch;
}

.about-me__animation {
	width: 50%;
	margin: auto;
}

.about-me__animation-title {
	text-align: center;
	border-bottom: 1px solid #80808066;
}

.about-me__animation-title a {
	text-decoration: none;
	color: #006400;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.about-me__animation-title a:hover {
	font-weight: normal;
}

@-webkit-keyframes color-change__sun {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}

@keyframes color-change__sun {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}

@-webkit-keyframes opacity-change__grass {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes opacity-change__grass {
	0% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes brightness-change__horse {
	0% {
		-webkit-filter: brightness(1%);
		        filter: brightness(1%);
	}
	100% {
		-webkit-filter: brightness(100%);
		        filter: brightness(100%);
	}
}

@keyframes brightness-change__horse {
	0% {
		-webkit-filter: brightness(1%);
		        filter: brightness(1%);
	}
	100% {
		-webkit-filter: brightness(100%);
		        filter: brightness(100%);
	}
}

@-webkit-keyframes blur-change__bubble {
	0% {
		-webkit-filter: blur(0);
		        filter: blur(0);
	}
	100% {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
	}
}

@keyframes blur-change__bubble {
	0% {
		-webkit-filter: blur(0);
		        filter: blur(0);
	}
	100% {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
	}
}

@-webkit-keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(200px, 50px);
		        transform: translate(200px, 50px);
	}
}

@keyframes cloud-move {
	from {
		-webkit-transform: translate(0, 50px);
		        transform: translate(0, 50px);
	}
	to {
		-webkit-transform: translate(200px, 50px);
		        transform: translate(200px, 50px);
	}
}

@-webkit-keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(446px, 48px);
		        transform: translate(446px, 48px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px);
	}
}

@keyframes cloud-move-reverse {
	from {
		-webkit-transform: translate(446px, 48px);
		        transform: translate(446px, 48px);
	}
	to {
		-webkit-transform: translate(100px, 48px);
		        transform: translate(100px, 48px);
	}
}

.berlin-animation {
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.berlin-animation:hover {
	-webkit-filter: brightness(70%);
	        filter: brightness(70%);
}

.berlin-animation__sun {
	-webkit-animation-duration: 4s;
	        animation-duration: 4s;
	-webkit-animation-name: color-change__sun;
	        animation-name: color-change__sun;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	/* animation: 4s color-change infinite alternate linear; */
}

.berlin-animation__cloud-front {
	-webkit-animation-duration: 30s;
	        animation-duration: 30s;
	-webkit-animation-name: cloud-move;
	        animation-name: cloud-move;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
	/* animation: 30s cloud-move infinite alternate ease-in-out; */
}

.berlin-animation__cloud-back {
	-webkit-animation-duration: 34s;
	        animation-duration: 34s;
	-webkit-animation-name: cloud-move-reverse;
	        animation-name: cloud-move-reverse;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
  	/* animation: 34s cloud-move-reverse infinite alternate ease-in-out; */
}

.berlin-animation__grass {
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-name: opacity-change__grass;
	        animation-name: opacity-change__grass;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
  	/* animation: 34s opacity-change__grass infinite alternate linear; */
}

.berlin-animation__horse-left {
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-name: brightness-change__horse;
	        animation-name: brightness-change__horse;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
  	/* animation: 34s brightness-change__horse infinite alternate linear; */
}

.berlin-animation__tower-bubble {
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
	-webkit-animation-name: blur-change__bubble;
	        animation-name: blur-change__bubble;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	        animation-direction: alternate;
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in;
  	/* animation: 34s blur-change__bubble infinite alternate linear; */
}