<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../includes/content-head.ejs") %>
    <%- include("../includes/content-title.ejs") %>
</head>
<body>
  <header class="main-header">
    <%- include("../includes/content-nav.ejs") %>
  </header>
  <main>
    <form class="form-main" action="/admin/add-product" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="form-group">
        <label class="form-control" for="title">Title:</label>
        <input class="form-control" type="text" name="title" id="title" required>
      </div>
      <div class="form-group">
        <label class="form-control" for="imageUrl">Image URL:</label>
        <input class="form-control" type="text" name="imageUrl" id="imageUrl" required>
      </div>
      <div class="form-group">
        <label class="form-control" for="price">Price:</label>
        <input class="form-control" type="number" min="0" name="price" id="price" step="0.01" required>
      </div>
      <div class="form-group">
        <label class="form-control" for="description">Description:</label>
        <textarea class="form-control" cols="30" rows="10" name="description" id="description" required>
        </textarea>
      </div>
      <div class="form-group">
        <button class="form-control" type="submit">
          Add Product
        </button>
      </div>
    </form>
  </main>
</body>
</html>