body {
    background-image: url("https://images.unsplash.com/photo-1518133910546-b6c2fb7d79e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
    background-size: cover;
    overflow: hidden;
}

.container {
    font-family: cursive;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container .form {
    background-color: white;
    padding: 30px;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: rgb(117, 117, 117);
}

.container .input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid 4px darkgray;
    color: black;
    font-family: cursive;
    border-width: 3px;
    border-radius: 5px;
}

.container .input::placeholder {
    color: lightgray;
}

.container .form #btn-submit {
    background-color: darkgray;
    color: white;
    border: none;
    margin-top: 2px;
    padding: 2px 20px;
    display: block;
    width: 100%;
    font-family: cursive;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.equation {
    color: rgb(0, 0, 0);
    /* text-decoration: underline; */
}

#btn-submit:hover {
    filter: brightness(0.9);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
}

#txt-score {
    color: gray;
    text-align: right;
    font-style: italic;
}