<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../includes/content-head.ejs") %>
    <%- include("../includes/content-title.ejs") %>
</head>
<body>
  <header class="main-header">
    <%- include("../includes/content-nav.ejs") %>
  </header>
  <main>
    <h1>Some errors ocurred!</h1>
    <p>We are working on fixing this issue. Sorry for the inconvenience!</p>
  </main>
</body>
</html>