<div class="mat-headline-4 div-container">
  <a href="https://material.angular.io/components/button/overview">Buttons</a>
</div>
<div class="div-container">
  <button mat-button>Mat Button</button>
  <button mat-raised-button>Mat Raised Button</button>
  <button mat-flat-button>Mat Flat Button</button>
  <button mat-stroked-button>Mat Stroked Button</button>
  <button mat-icon-button>Icon Button</button>
</div>
<div class="div-container">
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini Fab</button>
</div>
<div class="div-container">
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" mat-button>Warn</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>
<div class="div-container">
  <p>No Ripple</p>
  <button disableRipple mat-stroked-button>No Ripple</button>
</div>