<div class="mat-headline-4 div-container">
  <a href="https://material.angular.io/guide/typography">Material Typography</a>
</div>
<div class="mat-headline-4 div-container">
  <div class="mat-headline-1">Mat Headline 1</div>
  <div class="mat-headline-2">Mat Headline 2</div>
  <div class="mat-headline-3">Mat Headline 3</div>
  <div class="mat-headline-4">Mat Headline 4</div>
  <div class="mat-headline-5">Mat Headline 5</div>
  <div class="mat-headline-6">Mat Headline 6</div>
  <div class="mat-subtitle-1">Mat Subtitle 1</div>
  <div class="mat-subtitle-2">Mat Subtitle 2</div>
  <div class="mat-body-1">Mat Body 1</div>
  <div class="mat-body-2">Mat Body 2</div>
  <div class="mat-body-strong">Mat Body Strong</div>
  <div class="mat-small">Mat Small</div>
  <div class="mat-caption">Mat Caption</div>
  <p>Typography Class:</p>
  <div class="mat-typography">
    <h1>Headline h1</h1>
    <h2>Headline h2</h2>
    <h3>Headline h3</h3>
    <h4>Headline h4</h4>
  </div>
</div>